@using GrandHotelPetrichMVC.GCommon.Enums
@using GrandHotelPetrichMVC.ViewModels.Admin.Staff
@model CreateStaffViewModel
@{
    ViewData["Title"] = "Create Staff";
}

<section class="py-8">
    <div class="container mx-auto max-w-lg">
        <h2 class="text-2xl font-semibold mb-4">Create Staff Member</h2>

        <form asp-action="Create" method="post">

            <div class="mb-4">
                <label asp-for="UserEmail" class="block font-medium">User</label>
                <select asp-for="UserEmail" asp-items="ViewBag.EligibleUsers" class="form-select w-full" required></select>
                <span asp-validation-for="UserEmail" class="text-red-600 text-sm"></span>
            </div>

            <div>
                <label asp-for="PhoneNumber" class="block">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-input w-full" />
                <span asp-validation-for="PhoneNumber" class="text-red-600 text-sm"></span>
            </div>


            <div class="mb-4">
                <label asp-for="Role" class="block font-medium">Role</label>
                <select asp-for="Role" class="form-select w-full" asp-items="Html.GetEnumSelectList<StaffRole>()"></select>
            </div>

            <div class="mb-4">
                <label asp-for="Shift" class="block font-medium">Shift</label>
                <select asp-for="Shift" class="form-select w-full" asp-items="Html.GetEnumSelectList<StaffShifts>()"></select>
            </div>

            <div class="mb-4">
                <label asp-for="Salary" class="block font-medium">Salary (€)</label>
                <input asp-for="Salary" class="form-input w-full" type="number" min="600" />
                <span asp-validation-for="Salary" class="text-red-600 text-sm"></span>
            </div>

            <button type="submit" class="w-full bg-amber-600 text-white text-lg font-semibold px-6 py-3 rounded-full shadow-md hover:bg-amber-700 transition duration-200">
                Create
            </button>
        </form>
    </div>
</section>

<partial name="_ValidationScriptsPartial" />
